<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CarRental</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <a href="/login" th:text="#{text.login}"></a>
    <h1 th:text="#{welcome}"></h1>
    <a href="/?lang=us" th:text="#{english}"></a>
    <a href="/?lang=ua" th:text="#{ukraine}"></a>

    <script defer src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>